@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body{
	font-family: 'Poiret One', sans-serif;
}

/*header*/
header {
	width: 800px;
	margin: 40px auto;
	padding-top: 2em;
}

.new-titles img{
	margin-bottom: 50px;
}

.navbar-right{
	font-weight: bold;
}